<nav aria-label="Page navigation example">
  <ul class="pagination">

    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    <li class="page-item">
      <a class="page-link" href="{% url 'pages:pages_list' %}?page={{num}}">{{ num }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}

  </ul>
</nav>