{% extends "base.html" %}

{% block content %}
<h1>Главная страница</h1>
<hr>
<a href="{% url 'pages:pages_list' %}">Список страниц с контентом</a>
<br>
<a href="api/v1/pages/">АПИ</a>
{% endblock content %}