{% extends "base.html" %}

{% block content %}
<a href="{% url 'pages:home' %}">На главную</a>
<hr>
<h1>Pages list</h1>

<ul>
  {% for page in pages %}
  <li>
    <a href="{{ page.get_absolute_url }}">{{page}}</a>
  </li>
  {% endfor %}
</ul>

{% if page_obj.paginator.num_pages > 1 %}
<hr>
{% include 'partials/pagination.html' %}
{% endif %}
{% endblock content %}