{% extends "base.html" %}

{% block content %}

<a href="{% url 'pages:pages_list' %}">Вернуться к списку страниц</a>
<hr>
<h1>Page detail - {{ page.title }}</h1>

{% if page.content_set.exists %}

{% comment %} <h2>{{ page.content_set.title }}</h2> {% endcomment %}

<ul>

  {% for content in page.content_set.all %}

  {% if content.text %}
  {% include 'partials/text.html' with text=content.text %}
  {% endif %}

  {% if content.video %}
  {% include 'partials/video.html' with video=content.video  %}
  {% endif %}

  {% if content.audio %}
  {% include 'partials/audio.html' with audio=content.audio  %}
  {% endif %}

  {% endfor %}

</ul>
{% endif %}




{% endblock content %}